
body{ 
    background-color: #CFE795;
}
h2, h3 {

text-align: center;
}

#container {
    background-color:#CFE795;
    width: 1500px;
    margin: 10px auto;
    border-radius: 20px;
   
}

p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
  }
header {
    background-color: #FAF6B8;
    margin: 20px auto;
    width: 840px;
    border-radius:20px;
 
}

header img {
    display: block;
    margin: 20px auto;
    width: 80%;
}

nav{
   
    padding-top:20px;
    text-align: center;
    width:800px;
    margin:auto;
    border-radius: 20px;
    
}
nav a{
    display:inline-block;
    background-color:#CFE795;
    height:40px;
    width: 220px;
    line-height:40px ;
    font-size:25px;
    font-weight: bold;
    color: #92A62E;
    text-decoration:none;
    border-radius:20px 20px 0 0;
    
    font-Family: 'Cinzel', Cursive;
    
}
nav a:hover{
    background-color: #FAF6B8;
    color:#b8aa6f;
    
    }

main {
    background-color:#FAF6B8;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border:0px solid #e0f0bc;
    line-height:40px ;
    color:#282e09;
    text-decoration:lightblue;
    font-family: "fauna",serif;
    font: 1.5em ;
    border-radius: 20px;
}

main h2{
    text-align: center;
    color: #b9a963;
    font-Family: 'Cinzel', Cursive;
    font-Size: 46px;
    font-weight: bold; 
   
    
}
main img {
    display:block;
    margin: 20px auto;
    width: 70%;
    background-color: #D4C685;
    border-radius: 20px;
}

footer{
    background-color: #FAF6B8;
    color: #92A62E;
    padding:40px 0;
    font-size: 1em;
    text-align:center;
    margin-top: 20px;
    border-radius: 0 0 20px 20px;
    font-Family: 'Cinzel', Cursive;
  
}

a:link {
    color: #484349;
    background-color: transparent;
    text-decoration: none;
  }

.active{
    background-color: #FAF6B8;
    color:#b8aa6f;
    
}

